admin/index

<%== getPros%>



<script id="log_list_tr" type="text/html">
 <tr data-url='{{url}}' data-today='today' data-total='total' data-yesterday='yesterday' data-qs='qs' data-bl='bl' data-qsdata='qsdata'>
    <td><span class="label label-info">{{name}}</span></td>
    <td class='today'>{{today}}</td>
    <td><strong class="qs">{{qs}}</strong></td>
    <td class="hidden-xs bl">{{bl}}</td>
    <td class='total'>{{total}}</td>
    <td class="chart-cell hidden-xs">
        <div class="direct-trend">
        
        </div>
    </td>
</tr>
</script>

