

<div id='mapsdiv'>
1111111111111
</div>

<script>
var adress = <%== @pro_list_adress.size >= 1 ? @pro_list_adress.to_json : '[]' %>;

var adressdian = new Array();
$.each(adress, function(i,val) {      
	adressdian.push(val.latitude + ',' + val.longitude);      
}); 


var imgsrc = 'http://maps.googleapis.com/maps/api/staticmap?format=jpg&center=36.244273,104.941406&zoom=4&size=640x640&sensor=false&scale=2&key=AIzaSyBKCg2yX3mxPHJP8ANJio5FMexvbJC4-KM&maptype=terrain&markers=size:mid|color:blue|label:A|';


var imgobj = $('<img>');
imgobj.attr('src', imgsrc + adressdian.join('|')).addClass('img-thumbnail');
$('#mapsdiv').html(imgobj);

</script>

