<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>流程监控</h3>
        <p>流程监控流程监控流程监控流程监控流程监控流程监控流程监控流程监控</p>
        <p><a href="#" class="btn btn-primary" role="button"><%= t('views.home.jr')%></a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>数据监控</h3>
        <p>数据监控数据监控数据监控数据监控数据监控数据监控数据监控数据监控数据监控数据监控</p>
        <p><a href="#" class="btn btn-primary" role="button"><%= t('views.home.jr')%></a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>用户监控</h3>
        <p>用户监控用户监控用户监控用户监控用户监控用户监控用户监控用户监控用户监控用户监控用户监控</p>
        <p><a href="#" class="btn btn-primary" role="button"><%= t('views.home.jr')%></a></p>
      </div>
    </div>
  </div>

</div>