
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Log查看 <small>php错误日志</small></h2>
            </div>
        </div>

        <div class="row" style='display:none;'>
            <div class="col-md-8 col-md-offset-2">
                <section class="widget">
                    <div class="body no-margin">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form class="form-inline form-search no-margin text-align-center" role="form">
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="Keywords: Node.js, History">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary">
                                        Search
                                    </button>
                                </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <section class="widget padding-increased">
                    <header>
                        <h4>
                            Search Results
                        </h4>
                        <hr>
                    </header>
                    <div class="body no-margin">
                        <section class="search-result">
                            <h4>Next generation admin template</h4>
                            <p class="text-success"><small>themeforest.com</small></p>
                            <p>Not just usual Metro. But something bigger. Not just usual widgets, but real widgets.
                                Not just yet another admin template, but next generation admin template.</p>
                        </section>
                        <section class="search-result">
                            <h4>Try. Posted by Okendoken</h4>
                            <p class="text-success"><small>okendoken.com</small></p>
                            <p>You will never know exactly how something will go until you try it.
                                You can think three hundred times and still have no precise result.</p>
                        </section>
                        <section class="search-result">
                            <h4>Can I use CSS3 Radial-Gradient?</h4>
                            <p class="text-success"><small>okendoken.com</small></p>
                            <p>Yes you can! Further more, you should! It let's you create really beautiful images
                            either for elements or for the entire background.</p>
                        </section>
                        <section class="search-result">
                            <h4>Element standards</h4>
                            <p class="text-success"><small>wikipedia.com</small></p>
                            <p>HTML elements are defined in a series of freely available open standards issued since
                                1995, initially by the IETF and subsequently by the W3C.</p>
                        </section>
                        <section class="search-result">
                            <h4>Vitaut the Great</h4>
                            <p class="text-success"><small>www.belarusguide.com</small></p>
                            <p>the Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to Europe
                                of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.</p>
                        </section>
                        <section class="search-result">
                            <h4>The origins of the Grand Duchy of Litva</h4>
                            <p class="text-success"><small>www.belarusguide.com</small></p>
                            <p>Who are the Belarusians, anyway? What is this strange country - Belarus - which appeared
                                on the map a few years ago, a country that used to be called Belorussia, Byelorussia or even White Russia?</p>
                        </section>
                        <div class="text-align-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
