
<script>
	var hostUrl = '<%== @pro.url rescue nil%>';
	var rows = '<%== @rows rescue nil%>';
</script>

<script id="log_item" type="text/html">
	<section class="search-result {{type}}_div">
	    <h4>{{type}}</h4>
	    <p class="text-success"><small>{{time}}</small></p>
	    <p>
	    	{{meg}}
	    </p>
	</section>
</script>

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Log查看 <small>php错误日志</small></h2>
    </div>
</div>

<div class="row" style='display:none;'>
    <div class="col-md-8 col-md-offset-2">
        <section class="widget">
            <div class="body no-margin">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form class="form-inline form-search no-margin text-align-center" role="form">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Keywords: Node.js, History">
                        <span class="input-group-btn">
                            <button class="btn btn-primary">
                                Search
                            </button>
                        </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section class="widget padding-increased">
            <header>
                <h4>
                    日记结果
                </h4>
                <hr>
            </header>
            <div id='log_list' class="body no-margin"></div>

            <div class="text-align-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>


        </section>
    </div>
</div>
