

<% if obj.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fade in">
      <span class='glyphicon glyphicon-remove-circle'></span>
      
      <h3><%= obj.errors.count.to_s + ": 错误" %> </h3>

      <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    </div>
  <% end %>